* {
    box-sizing: border-box;
  }
  
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

.image-wrapper, .saloninfo, .hours{
  overflow: visible;
  position: static;
  }
  
.image-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  filter: brightness(40%);
  }

.image-wrapper img{
  height: 650px;
  }
  
.image-content {
  position: relative;
  margin-left: 45%;
  margin-top: 12%;
  }

.image-content h1{
  font-family: 'Michroma', sans-serif;
  color: white;
  font-size: 70px;
  margin: auto;
  margin-left: -6%;
  }

.image-content, h2{
  color: darkorange;
  font-size: 2rem;
}

.image-content span{
  font-weight: bold;
}

.services{
    margin-top: 10%;
    margin-left: -10%;
    position: relative;
}

.services .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: orangered;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -230px;
}

.saloninfo img{
    position: static;
    height: 500px;
    width: 40%;
    float: left;
    margin-top: 200px;
}

.about {
    float: right;
    width: 60%;
    background-color: rgb(52, 61, 61);
    position: static;
    height: 700px;
  }

.about h2{
  margin-top: 300px;
  color: white;
  height: 468px;
  padding: 50px;
  margin-bottom: -350px;
  font-family: Arial, Helvetica, sans-serif;
}

.about p{
  color: white;
  font-size: 1.3em;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.about .btn{
  position: absolute;
  top: 150%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(83, 95, 95);
  color: white;
  font-size: 16px;
  padding: 12px 150px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -230px;
}

.hours img{
  position: static;
  height: 500px;
  width: 40%;
  float: right;
}

.salonhours{
  float: left;
  width: 60%;
  background-color: rgb(52, 61, 61);
  position: static;
  height: 500px;
}

.salonhours h2{
  margin-top: 50px;
  color: white;
  height: 468px;
  padding: 50px;
  margin-bottom: -350px;
  font-family: Arial, Helvetica, sans-serif;
}

.salonhours li{
  color: white;
  font-size: 1.2em;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

.treatments {
  background-color: rgb(52, 61, 61);
}

.treatments h2{
  padding: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.treatments p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

/* template for media query */
/* @media screen and (max-width: 800px) {



} */