.image-wrapper {
    overflow: visible;
    position: relative;
  }
  
  .image-bg {
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    filter: brightness(50%);
  }
  
  .image-content {
    position: relative;
    margin-left: 45%;
    margin-top: 12%;
  }

  .image-content h1{
    font-family: 'Michroma', sans-serif;
    color: white;
    font-size: 70px;
    margin: auto;
    margin-left: -6%;
  }

  .image-content, h2{
    color: rgb(226, 196, 24);
    font-size: 2rem;
  }

  .services{
      margin-top: 10%;
      margin-left: -10%;
  }

  .services span{
      font-family: "Gill Sans", sans-serif;
      color: white;
      background-color: orangered;
      padding: 10px 40px;
      font-size: 1rem;
  }

/* template for media query */
/* @media screen and (max-width: 800px) {



} */